<template>
    <div>



        <div class="imageContainer">
            <img v-bind:src="imageUrl" class="headerimage" />
            <div class="imageTopLeft">About
                <div></div>
            </div>
        </div>

        <h3>Who I am</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt saepe enim eligendi placeat optio laboriosam libero,
            qui repellendus vero tenetur consectetur eaque facilis nihil aliquid rem quisquam quos numquam animi!</p>
        <h3>Experiences</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt saepe enim eligendi placeat optio laboriosam libero,
                qui repellendus vero tenetur consectetur eaque facilis nihil aliquid rem quisquam quos numquam animi!</p>
        <h3>Hobbies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt saepe enim eligendi placeat optio laboriosam libero,
                qui repellendus vero tenetur consectetur eaque facilis nihil aliquid rem quisquam quos numquam animi!</p>

    </div>
</template>

<style src="./resources/style/about.css" />
<script src="./about.ts"></script>