<template>
    <div>



        <div class="imageContainer">
            <img v-bind:src="imageUrl" class="headerimage" />
            <div class="imageTopLeft">About
                <div></div>
            </div>
        </div>

        <h1>Name</h1>
        <h3>{{aboutInfo.name}}</h3>
        <h1>Occupation</h1>
        <h3>{{aboutInfo.currentOccupation}}</h3>
        <h1>Birthday</h1>
        <h3>{{aboutInfo.birthDay.substring(0,10)}}</h3>
        <h1>Description</h1>
        <h3>{{aboutInfo.description}}</h3>


    </div>
</template>

<style src="./resources/style/about.css" />
<script src="./about.ts"></script>